/* Base */
  #light {
    color: hsl(0, 0%, 28%);
    /*font-size: 50px;*/
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
  }
  
  #light span {
    transition: 0.5s ease-out;
  }
  #light:hover span:nth-child(1) {
    margin-right: 5px;
  }
  #light:hover span:nth-child(1):after {
    content: "'";
  }
  #light:hover span:nth-child(2) {
    margin-left: 30px;
  }
  #light:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }